{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest": true,
    "mocha": true
  },
  "plugins": [
    "import",
    "flowtype",
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "max-len": [
      2,
      120
    ],
    "prefer-arrow-callback": 0,
    "arrow-parens": [
      2,
      "always"
    ],
    "flowtype/require-valid-file-annotation": [
      2,
      "never"
    ],
    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/require-return-type": [
      1,
      "always",
      {
        "excludeArrowFunctions": true
      }
    ]
  }
}
